:root{
    --background: navy;
    --boxbackground: blue;
    --text1: white;
    --text2: gold;
    --border: rgb(154, 154, 18);
}
* { margin: 10; padding: 10; box-sizing: border-box;}
body{
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    background-color: var(--background);
    color: --text1;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}
.wrap{
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 400px;
    padding: 24px
}
.header{
    text-align: center;
    margin-bottom: 40px;
}
.contanier{
    text-align: center;
    border: 1px solid var(--border);
    background-color: var(--boxbackground);
    border-radius: 20px;
    padding: 40px;

}
#date{
    types: calc();
}
